<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anekra.dynamicfeaturefavorite">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_dynamicfeaturefavorite">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>

    <application>
        <activity android:name=".DynamicFeatureActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:scheme="capstoneapp"
                    android:host="dynamicfeaturefavorite" />
            </intent-filter>
        </activity>
    </application>
</manifest>